
<header class="bg-white shadow-md sticky top-0 z-50 font-sans">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-20">
        

        <div class="text-2xl font-bold h-20">

            <a routerLink="">
                <img src="logo.png" alt="Logo de Veterinaria" class="h-full w-auto object-contain rounded-lg"/>
            </a>
        </div>
        

        <nav class="hidden md:flex space-x-8">
            

            <a routerLink="" class="text-blue-900 hover:text-cyan-500 transition duration-300 font-medium flex items-center">
                Inicio
            </a>
            

            <div class="relative group">
                <a routerLink="servicios"
                    class="text-blue-900 hover:text-cyan-500 transition duration-300 font-medium flex items-center">
                    Servicios

                    <svg class="ml-1 h-5 w-5 transition duration-300 group-hover:rotate-180" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.25 4.25a.75.75 0 01-1.06 0L5.21 8.27a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </a>
                

                <div class="absolute left-1/2 -translate-x-1/2 mt-0 top-full hidden group-hover:block w-56 rounded-xl shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none py-1 z-50">
                    <a routerLink="/servicios" class="block px-4 py-2 text-sm text-blue-900 hover:bg-cyan-50 hover:text-cyan-600 transition duration-200">Consulta General</a>
                    <a routerLink="/servicios" class="block px-4 py-2 text-sm text-blue-900 hover:bg-cyan-50 hover:text-cyan-600 transition duration-200">Vacunación</a>
                    <a routerLink="/servicios" class="block px-4 py-2 text-sm text-blue-900 hover:bg-cyan-50 hover:text-cyan-600 transition duration-200">Cirugía y Urgencias</a>
                    
                    <div class="border-t border-gray-100 my-1"></div>

                    <a routerLink="/servicios" class="block px-4 py-2 text-sm text-cyan-600 font-bold hover:bg-gray-100 transition duration-200">
                        Ver Todos los Servicios
                    </a>
                </div>
            </div>
            
        </nav>
        
        <div class="hidden md:flex items-center space-x-4">

            <a routerLink="login"
                class="text-blue-900 hover:text-cyan-500 transition duration-300 font-semibold p-2 rounded-lg">
                Iniciar Sesión
            </a>
            <a routerLink="register"
                class="text-blue-900 hover:text-cyan-500 transition duration-300 font-semibold p-2 rounded-lg">
                Registrate
            </a>
            
            <a routerLink="/register"
                class="bg-cyan-500 text-white py-2 px-4 rounded-full hover:bg-blue-900 transition duration-300 font-bold shadow-lg shadow-cyan-500/50 transform hover:scale-105">
                Agenda tu Cita
            </a>
        </div>
        
        <button class="md:hidden text-blue-900 text-2xl p-2 rounded-lg hover:bg-gray-100 transition duration-200" aria-label="Abrir menú">
            ☰
        </button>
        
    </div>
</header>

<main class="container">

  <router-outlet></router-outlet>
</main>

<footer class="bg-cyan-900 text-gray-300 pt-10 pb-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        
        <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-8 border-b border-cyan-100 pb-8">
            
            <div class="col-span-1 md:col-span-2 lg:col-span-1 space-y-4">
                <div class="text-3xl font-bold text-white h-20">
                    <a routerLink="/">
                        <img src="logo.png" alt="logo" class="h-full w-auto object-contain">
                    </a>
                </div>
                <p class="text-sm">
                    Cuidando de tus mejores amigos con la pasión y experiencia que merecen.
                </p>
            </div>

            <div class="col-span-1">
                <h5 class="text-lg font-semibold text-white mb-4">Enlaces Rápidos</h5>
                <ul class="space-y-2 text-sm">
                    <li><a routerLink="" class="hover:text-cyan-500 transition duration-300 cursor-pointer">Inicio</a></li>
                    <li><a routerLink="servicios" class="hover:text-cyan-500 transition duration-300 cursor-pointer">Servicios</a></li>
                    <li><a routerLink="login" class="hover:text-cyan-500 transition duration-300 cursor-pointer">Mis Mascotas</a></li>
                    <li><a routerLink="/register" class="hover:text-cyan-500 transition duration-300 cursor-pointer">Registrarse</a></li>
                </ul>
            </div>

            <div class="col-span-1">
                <h5 class="text-lg font-semibold text-white mb-4">Legal & Ayuda</h5>
                <ul class="space-y-2 text-sm">
                    <li><a routerLink="" class="hover:text-cyan-500 transition duration-300">Contacto</a></li>
                    <li><a routerLink="" class="hover:text-cyan-500 transition duration-300">Política de Privacidad</a></li>
                    <li><a routerLink="" class="hover:text-cyan-500 transition duration-300">Términos de Servicio</a></li>
                    <li><a routerLink="" class="hover:text-cyan-500 transition duration-300">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            
            <div class="col-span-1">
                <h5 class="text-lg font-semibold text-white mb-4">Contáctanos</h5>
                <p class="text-sm mb-2">
                    Tel: <a href="tel:+511234567" class="hover:text-cyan-500">(+51) 1 234 567</a>
                </p>
                <p class="text-sm mb-4">
                    Email: <a href="mailto:info@vet.com" class="hover:text-cyan-500">veterinaria01@.com</a>
                </p>
                
                <div class="flex space-x-4">
                    <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                        <img src="facebook.svg" alt="facebook" class="w-7 h-7">
                    </a>
                    <a href="https://www.instagram.com/" aria-label="Instagram" target="_blank">
                        <img src="instagram.svg" alt="instagram" class="w-7 h-7 ">
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>